.TaskInput {
    width: fit-content;

    border-radius: 20px;
    border: solid 2px rgba(#000, 0);
    background-color: var(--bg-primary-color);

    &:hover {
        border: solid 2px var(--bars-bg-color);
        box-shadow: 2px 4px 4px rgba(23,23,23,0.75);
    }
    &::placeholder {
        color: black;
    }
    &.light {
        box-shadow: 2px 4px 4px rgba(23,23,23,0.75);
    }
}

.Input {
    width: 240px;

    color: var(--primary-color);
    background: none;
}

.Button {
    margin-right: 8px;

    font-weight: 600;
    color: var(--primary-color);

    transform: scale(1) ;
    transition: transform .2s ease-in-out;

    &:hover {
        transform: scale(1.3) ;
    }
}
