.app.light {
    --bg-app-color: #dadada;
    --bg-primary-color: #ffffff;
    --bg-secondary-color: #00b4ba;

    --primary-color: #000;
    --secondary-color: #fff;
    --inverted-primary-color: #dadada;
    --inverted-secondary-color: #c3c3c3;

    --red-color: #f73a3a;
    --green-color: #3af74d;

    --bars-bg-color: #00b4ba;
    --bars-color: #fff;
}
